@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
* {
  margin: 0;    padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  width: 100%;    height: 100vh;
}
header {
  height: 10vh;
  display: flex;
  transition: 1s ease;
  /* opacity: 0.7;*/
}
header .open-btn {
  padding-left: 5%;
  font-size: 40px;
  width: 33.333%;
}
header .logo {
  width: 33.333%;   height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
header .logo a{
     text-decoration: none;
     color: #ffffff;
   }

@keyframes animate {
  from {transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
header .logo .circle::after {
  position: absolute;
  top: 10px;  right: 10px;  bottom: 10px; left: 10px;
  background-color: black;
  border-radius: 50%;
  content: "";
}
header .logo .circle::after span{
  position: absolute;
  width: 100%;    height: 100%;
  background-image: linear-gradient(180deg,#873B9C,#AE3387,#E43266);
  border-radius: 50%;
}
header .logo .circle::after span:nth-child(1){
  filter: #873B9C(5px);
}
header .logo .circle::after span:nth-child(2){
  filter: #AE3387(10px);
}
header .logo .circle::after span:nth-child(3){
  filter: #873B9C(20px);
}
header .logo .circle::after span:nth-child(4){
  filter: #873B9C(55px);
}
header .search {
  position: absolute;
  top: 20px;    right: 50px;
}
header .search .search-box{
  position: relative;
}
header .search .search-box .input{
  width: 0px; height: 34px;
  padding: 0px 10px;
  visibility: hidden;
  border-radius: 50px;
  /* box-shadow: 0 0 3px 1px #333333; */
  outline: none;
  /* color: #333333; */
  font-size: 20px;
  font-weight: bold;
  transition: all 1s linear;
}
header .search .search-box .search-btn {
  position: absolute;
  top: 0px;   right: -1px;
  background-color: #ffffff;
  border: solid 1px #000222;
  width: 34px;    height: 34px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s linear;
}
header .search .search-box .search-btn.changeBG {
  background-image: linear-gradient(180deg,#873B9C,#AE3387,#E43266);
  transition: all .2s ease;
}
header .search .search-box .search-btn .fas {
  position: absolute;
  top: 50%;   left: 50%;
  transform: translate(-50%,-50%) ;
  color: #000222;
  font-size: 20px;
  transition: all 1s linear;
}
header .search .search-box .search-btn .fas.ChangeSearchColor {
  color: #ffffff;
  transition: all 1s ease;
}
header .search .search-box .input.active-search-width {
  width: 200px;
  visibility: visible;
  border: solid 1px #000222;
}
aside {
  width: 0%; height: 100vh;
  background-color: #000222;
  position: fixed;
  top: 0;   left: 0;
  transition: 1s ease;
  padding-top: 60px;
  display: none;
  transition: 1s ease;
}
aside nav {
  width: 100%;  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
aside nav .close-btn {
  font-size: 40px;
  position: absolute;
  right: 10%;    top: 0%;
}
aside nav a {
  font-size: 20px;
  display: block;
  margin: 20px;
  text-decoration: none;
  transition: none;
  opacity: .3;
  overflow: hidden;
  color: #ffffff;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
aside nav a:hover {
  opacity: 1;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

aside .social-box {
  width: 100%;    height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-box .facebook {
  width: 75px;  height: 75px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #3B5998;
  transition: .5s ease;
  margin: 5px 0;
}
.social-box .teitter {
  width: 75px;  height: 75px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #00ACEE;
  transition: .5s ease;
  margin: 5px 0;
}
.social-box .google {
  width: 75px;  height: 75px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: tomato;
  transition: .5s ease;
  margin: 5px 0;
}
.social-box .facebook:hover, .social-box .teitter:hover, .social-box .google:hover {
  transform: rotate(360deg) scale(1.2);
}


main {
  width: 100%;  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section{
  width: 90%;  height: 90%;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: 
  'Box1 Box1 Box2 Box2 Box3 Box4 Box5 Box5'
  'Box1 Box1 Box2 Box2 Box3 Box4 Box5 Box5'
  'Box6 Box7 Box7 Box7 Box8 Box8 Box8 Box8'
  'Box9 Box7 Box7 Box7 Box10 Box10 Box10 Box10';
}


.Box1, .Box2, .Box3, .Box4, .Box5, .Box6, .Box7, .Box8, .Box9, .Box10{
  background: #262626;
  overflow: hidden;
  position: relative;
  overflow: scroll;
}

.Box1 .imgBox, .Box1.detail, .Box2 .imgBox, .Box2.detail, .Box3 .imgBox, .Box3.detail, .Box4 .imgBox, .Box4.detail, .Box5 .imgBox, .Box5.detail, .Box6 .imgBox, .Box6.detail, .Box7 .imgBox, .Box7.detail, .Box8 .imgBox, .Box8.detail, .Box9 .imgBox, .Box9.detail, .Box10 .imgBox, .Box10.detail{
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}

.Box1 .imgBox,.Box2 .imgBox, .Box3 .imgBox, .Box4 .imgBox, .Box5 .imgBox, .Box6 .imgBox, .Box7 .imgBox, .Box8 .imgBox, .Box9 .imgBox, .Box10 .imgBox{
  top: 0;
  left: 0;
}

.Box1 .imgBox img,.Box2 .imgBox img, .Box3 .imgBox img, .Box4 .imgBox img, .Box5 .imgBox img, .Box6 .imgBox img, .Box7 .imgBox img, .Box8 .imgBox img, .Box9 .imgBox img, .Box10 .imgBox img{
  width: 100%;    height: 100%;
}

.Box1:hover .imgBox,.Box2:hover .imgBox, .Box3:hover .imgBox, .Box4:hover .imgBox, .Box5:hover .imgBox, .Box6:hover .imgBox, .Box7:hover .imgBox, .Box8:hover .imgBox, .Box9:hover .imgBox, .Box10:hover .imgBox{
  top: 0;
  left: -100%;
}

.Box1 .detail, .Box2 .detail, .Box3 .detail, .Box4 .detail, .Box5 .detail, .Box6 .detail, .Box7 .detail, .Box8 .detail, .Box9 .detail, .Box10 .detail{
  background: #262626;
  top: 0;
  left: 100%;
  padding: 60px 30px;
  /* overflow: scroll; */
}
.Box1:hover .detail, .Box2:hover .detail, .Box3:hover .detail, .Box4:hover .detail, .Box5:hover .detail, .Box6:hover .detail, .Box7:hover .detail, .Box8:hover .detail, .Box9:hover .detail, .Box10:hover .detail{
  top: 0;
  left: 0%;
}





.Box1 {
  grid-area: Box1;
}
.Box2 {
  grid-area: Box2;
}
.Box3 {
  grid-area: Box3;
}
.Box4 {
  grid-area: Box4;
}
.Box5 {
  grid-area: Box5;
}
.Box6 {
  grid-area: Box6;
}
.Box7 {
  grid-area: Box7;
}
.Box8 {
  grid-area: Box8;
}
.Box9 {
  grid-area: Box9;
}
.Box10 {
  grid-area: Box10;
}






.card .details h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;
}
.card .details p {
  margin: 20px 0 0;
  color: #fff;
}
