@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
* {
  margin: 0;    padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  width: 100%;    height: 100vh;
}
header {
  height: 10vh;
  display: flex;
  transition: 1s ease;
  /* opacity: 0.7;*/
}
header .open-btn {
  padding-left: 5%;
  font-size: 40px;
  width: 33.333%;
}
header .logo {
  width: 33.333%;   height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
header .logo a {
  text-decoration: none;
  color: #ffffff;
}

@keyframes animate {
  from {transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
header .logo .circle::after {
  position: absolute;
  top: 10px;  right: 10px;  bottom: 10px; left: 10px;
  background-color: black;
  border-radius: 50%;
  content: "";
}
header .logo .circle::after span{
  position: absolute;
  width: 100%;    height: 100%;
  background-image: linear-gradient(180deg,#873B9C,#AE3387,#E43266);
  border-radius: 50%;
}
header .logo .circle::after span:nth-child(1){
  filter: #873B9C(5px);
}
header .logo .circle::after span:nth-child(2){
  filter: #AE3387(10px);
}
header .logo .circle::after span:nth-child(3){
  filter: #873B9C(20px);
}
header .logo .circle::after span:nth-child(4){
  filter: #873B9C(55px);
}
header .search {
  position: absolute;
  top: 20px;    right: 50px;
}
header .search .search-box{
  position: relative;
}
header .search .search-box .input{
  width: 0px; height: 34px;
  padding: 0px 10px;
  visibility: hidden;
  border-radius: 50px;
  /* box-shadow: 0 0 3px 1px #333333; */
  outline: none;
  /* color: #333333; */
  font-size: 20px;
  font-weight: bold;
  transition: all 1s linear;
}
header .search .search-box .search-btn {
  position: absolute;
  top: 0px;   right: -1px;
  background-color: #ffffff;
  border: solid 1px #000222;
  width: 34px;    height: 34px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s linear;
}
header .search .search-box .search-btn.changeBG {
  background-image: linear-gradient(180deg,#873B9C,#AE3387,#E43266);
  transition: all .2s ease;
}
header .search .search-box .search-btn .fas {
  position: absolute;
  top: 50%;   left: 50%;
  transform: translate(-50%,-50%) ;
  color: #000222;
  font-size: 20px;
  transition: all 1s linear;
}
header .search .search-box .search-btn .fas.ChangeSearchColor {
  color: #ffffff;
  transition: all 1s ease;
}
header .search .search-box .input.active-search-width {
  width: 200px;
  visibility: visible;
  border: solid 1px #000222;
}
aside {
  width: 0%; height: 100vh;
  background-color: #000222;
  position: fixed;
  top: 0;   left: 0;
  transition: 1s ease;
  padding-top: 60px;
  display: none;
  transition: 1s ease;
}
aside nav {
  width: 100%;  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
aside nav .close-btn {
  font-size: 40px;
  position: absolute;
  right: 10%;    top: 0%;
}
aside nav a {
  font-size: 20px;
  display: block;
  margin: 20px;
  text-decoration: none;
  transition: none;
  opacity: .3;
  overflow: hidden;
  color: #ffffff;
  text-transform: uppercase;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
aside nav a:hover {
  opacity: 1;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

aside .social-box {
  width: 100%;    height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-box .facebook {
  width: 75px;  height: 75px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #3B5998;
  transition: .5s ease;
  margin: 5px 0;
}
.social-box .teitter {
  width: 75px;  height: 75px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: #00ACEE;
  transition: .5s ease;
  margin: 5px 0;
}
.social-box .google {
  width: 75px;  height: 75px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  text-align: center;
  background-color: tomato;
  transition: .5s ease;
  margin: 5px 0;
}

.social-box .facebook:hover, .social-box .teitter:hover, .social-box .google:hover {
  transform: rotate(360deg) scale(1.2);
}




main{
  width: 100%;    height: 90vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas:
  'Jacouard narrow'
  'linen wool';
}
.Jacouard, .narrow, .linen, .wool {
  width: 100%;   height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Jacouard .J-card, .narrow .N-card, .linen .L-card, .wool .W-card{
  width: 70%;   height: 90%;
  position: relative;
  border-radius: 5%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 1s ease;
}
.Jacouard .J-card:hover, .narrow .N-card:hover, .linen .L-card:hover, .wool .W-card:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
.J-card .J-Instraction, .N-card .N-Instraction, .L-card .L-Instraction, .W-card .W-Instraction{
  position: absolute;
  top: 40%;   left: 20%;
}
.Jacouard .BackImage, .narrow .BackImage, .linen .BackImage, .wool .BackImage  {
  background-color: rgba(0,0,0,0.5);
  width: 100%;      height: 100vh;
  position: fixed;
  top: 0;     left: 0;
  display: none;
  transition: .6s ease;
}
.JP-image, .NP-image, .LP-image, .WP-image {
  width: 30%;   height: 70%;
}
.JP-Detail, .NP-Detail, .LP-Detail, .WP-Detail {
  width: 30%;   height: 60%;
  background-color: #ffffff;
  color: #000222;
}

.Color-option-J, .Color-option-N, .Color-option-L, .Color-option-W{
  display: flex;
  margin: 5px 0 5px 10px;
}
.Color-option-J button, .Color-option-N button, .Color-option-L button, .Color-option-W button{
  width: 25px;    height: 25px;
  margin: 0 5px;
  border: 1px solid #000000;
  font-weight: bold;
}












.Jacouard {
  grid-area: Jacouard;
}
.narrow{
  grid-area: narrow;
}
.linen {
  grid-area: linen;
}
.wool {
  grid-area: wool;
}








@media only screen and (max-width:768px) {
  main{
    width: 100%;    height: 150vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    'Jacouard' 
    'narrow'
    'linen' 
    'wool';
  }
  .Jacouard .J-card, .narrow .N-card, .linen .L-card, .wool .W-card{
    width: 70%;   height: 90%;
    position: relative;
    border-radius: 5%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 1s ease;
  }
  .Jacouard .BackImage, .narrow .BackImage, .linen .BackImage, .wool .BackImage  {
    flex-direction: column;
  }
  .JP-image, .NP-image, .LP-image, .WP-image {
    width: 90%;   height: 35%;
    
  }
  .JP-Detail, .NP-Detail, .LP-Detail, .WP-Detail {
    width: 90%;   height: 65%;
  }

}
@media only screen and (max-width:375px)  {

}

